{% comment %}
  Find previous and next homework (if any).
{% endcomment %}
{% for homework in site.homework  %}
  {% if homework.url == page.url %}
    {% unless forloop.first %}
      {% assign prev_homework = prev %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next_homework = site.homework[forloop.index] %}
    {% endunless %}
  {% endif %}
  {% assign prev = homework %}
{% endfor %}

{% comment %}
  Display title and prev/next links.
{% endcomment %}
<div class="row">
  <div class="col-md-1">
    <h3>
      {% if prev_homework %}
      <a href="{{ page.root }}{{ prev_homework.url }}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span><span class="sr-only">previous homework</span></a>
      {% else %}
      <a href="{{ page.root }}/"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><span class="sr-only">lesson home</span></a>
      {% endif %}
    </h3>
  </div>
  <div class="col-md-10">
    {% if include.homework_navbar_title %}
    <h3 class="maintitle"><a href="{{ page.root }}/">{{ site.title }}</a></h3>
    <h1 class="maintitle">{{ page.title }}</h1>
    {% endif %}
  </div>
  <div class="col-md-1">
    <h3>
      {% if next_homework %}
      <a href="{{ page.root }}{{ next_homework.url }}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><span class="sr-only">next homework</span></a>
      {% else %}
      <a href="{{ page.root }}/"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><span class="sr-only">lesson home</span></a>
      {% endif %}
    </h3>
  </div>
</div>
