{% comment %}
  Display syllabus in tabular form.
  Days are displayed if at least one episode has 'start = true'.
{% endcomment %}
<div class="syllabus">
  <h2 id="schedule">Schedule</h2>

  {% assign day = 0 %}
  {% assign multiday = false %}
  {% for episode in site.episodes %}
    {% if episode.start %}{% assign multiday = true %}{% break %}{% endif %}
  {% endfor %}
  {% assign current = site.start_time %}

<table>
<thead>
<tr>
<th>Date</th>
<th>Lecture Topic</th>
</tr>
</thead>

<tbody>
<tr>
<td>1.22.2017</td>
<td><a href="https://selusys.github.io/SELUSys2018/00-LONI/">LONI log-in</a></td>
<td><a href="https://selusys.github.io/SELUSys2018/01-UNIX/">UNIX and Git 1</a></td>
</tr>
</tr>
<td>1.26.2017</td>
<td>HW 1 Due</td>
<td></td>
</tr>
<tr>
<td>1.29.2017</td>
<td><a href="https://selusys.github.io/SELUSys2018/01-UNIX/">UNIX and Git 2</a></td>
<td></td>
</tr>
<tr>
<td>2.2.2017</td>
<td>HW 2 Due</td>
<td></td>
</tr>
<tr>
<td>2.05.2017</td>
<td><a href="https://selusys.github.io/SELUSys2018/14-MSA/">Sequence Alignment</a></td>
<td><a href="https://github.com/SELUSys/SELUSys2018/blob/master/homework/MSAHomework.md">MSA Homework</a></td>

<td></td>
</tr>
<tr>
<td>2.12.2017</td>
<td><a href="https://selusys.github.io/SELUSys2018/15-PAUP/">PAUP and Parsimony</a></td>
<td></td>
</tr>
<tr>
<td>2.16.2017</td>
<td><a href="https://github.com/SELUSys/SELUSys2018/blob/master/homework/PAUPHomework.md">PAUP HW</a></td>
<td></td>
</tr>
<tr>
<td>2.19.2017</td>
<td><a href="https://selusys.github.io/SELUSys2018/16-Models/">Models of sequence evolution</td>
<td></td>
</tr>
<td>2.23.2017</td>
<td><a href="https://github.com/SELUSys/SELUSys2018/blob/master/homework/ModelsHomework.md">Models HW</td>
<td></td>
</tr>
<tr>
<td>2.26.2017</td>
<td><a href="https://selusys.github.io/SELUSys2018/17-ML-Trees/">Searching for ML Trees</td>
<td></td>
</tr>
<td>3.2.2017</td>
<td><a href="https://github.com/SELUSys/SELUSys2018/blob/master/homework/ModelComparisonHomework.md">Tree Search HW</td>
<td></td>
</tr>
<tr>
<td>3.5.2017</td>
<td>Bayesian Estimation 1</td>
<td></td>
</tr>
<td>3.9.2017</td>
<td>HW 6 Due</td>
<td></td>
</tr>
<tr>
<td>3.12.2017</td>
<td> Bayesian Estimation 2</td>
<td></td>
</tr>
<td>3.16.2017</td>
<td>HW 7 Due</td>
<td></td>
</tr>
<tr>
<td>3.19.2017</td>
<td> Model Testing and Partitioned Models</td>
<td></td>
</tr>
<tr>
<td>3.23.2017</td>
<td>HW 8 Due</td>
<td></td>
</tr>
<tr>
<td>3.26.2017</td>
<td>Divergence Time Estimation 1</td>
<td></td>
</tr>
<tr>
<td>3.30.2017</td>
<td>HW 9 Due</td>
<td></td>
</tr>
<tr>
<td>4.9.2017</td>
<td>Divergence Time Estimation 2</td>
<td></td>
</tr>
<tr>
<td>4.13.2017</td>
<td>HW 10 Due</td>
<td></td>
</tr>
<tr>
<td>4.16.2017</td>
<td>RAD-Seq and homology assignment when alignment is not practical</td>
<td></td>
</tr>
<tr>
<td>4.23.2017</td>
<td>Character Mapping</td>
<td></td>
</tr>
<tr>
<td>4.27.2017</td>
<td>Not sure!</td>
<td></td>
</tr>
<tr>
<td>4.30.2017</td>
<td>Presentations</td>
<td></td>
</tr>
</tbody>
</table>
</blockquote>

  <p>
    The actual schedule may vary slightly depending on the topics and exercises chosen by the instructor.
  </p>

</div>
